.orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Home {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 5000px;
    background-color: rgba(45, 45, 45, 0.846);
}


#profile1 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 300px;
    width: auto;
    border-radius: 100px;
}

#profile1:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.profileBlock {
    text-align: center;
    padding-top: 0px;
    height: 400px;
}

.profileBlock * {
    transition: .9s;
    transform: translate(0, 50px);
}

.contentBlock1 {
    padding-top: 30px;
    padding-left: 50px;
    height: 4000px;
    background-color: rgba(32, 32, 32, 0.846);
    color: white
}

.p1 {
    font-size: 1.2rem;
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

