
/* 변수를 통해 통제 */
:root {
    --profileBlockHeight: 400px;
    --profileHeight: 300px;

    --contentBlockPaddingHori: 70px;
    --contentBlockPaddingVert: 30px;

    --p1Size: 1.5rem;
    --p2Size: 1.2rem;
    --p3Size: 1.1rem;
}

@media (max-width: 480px) {
    :root {
        --profileBlockHeight: 300px;
        --profileHeight: 200px;

        --contentBlockPaddingHori: 40px;
        --contentBlockPaddingVert: 20px;

        --p1Size: 1.3rem;
        --p2Size: 1.0rem;
        --p3Size: 0.9rem;
    }
}

.orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Home {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
    background-color: rgba(45, 45, 45, 0.846);
}


#profile1 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: var(--profileHeight);
    width: auto;
    border-radius: calc(var(--profileHeight)/3);
}

#profile1:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.profileBlock {
    text-align: center;
    padding-top: 0px;
    height: var(--profileBlockHeight);
}

.profileBlock * {
    transition: .9s;
    transform: translate(0, 50px);
}

.contentBlock1 {
    padding: var(--contentBlockPaddingVert) var(--contentBlockPaddingHori) 0px var(--contentBlockPaddingHori);
    height: auto;
    background-color: rgba(32, 32, 32, 0.846);
    color: white
}

.contentBlockEnd {
    padding: var(--contentBlockPaddingVert) var(--contentBlockPaddingHori) 0px var(--contentBlockPaddingHori);
    height: 300px;
    background-color: rgba(32, 32, 32, 0.846);
    color: white
}

.contentline1 {
    display: block;
    margin-bottom: 20px;
    border-top: 1px solid white;
}

/* ========================== font section ========================== */

.p1 .p1-bold .p2 .p2-bold .p3 {
    font-family: "Orbit", sans-serif;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

.p1 {
    font-size: var(--p1Size);
    font-weight: 400;
}

.p1-bold {
    font-size: var(--p1Size);
    font-weight: bold;
}

.p2 {
    font-size: var(--p2Size);
    font-weight: 400;
}

.p2-bold {
    font-size: var(--p2Size);
    font-weight: bold;
}

.p3 {
    font-size: var(--p3Size);
    font-weight: 400;
}

