
/* 변수를 통해 통제 */
:root {
    --header-height: 11.5vh; /*11.5vh*/

    --color1: rgb(218, 233, 253);
    --color2: rgb(3, 26, 41);
    --color3: rgba(0, 89, 255, 0.05);
    --albumCoverImg: url('/blog/images/ThornApple_2ndAlbumCover.png');

    --articleBlockColor1: rgba(55, 55, 55, 0.5);
}

/* 반응형 변수들 */
:root {
    --headerTitle1Size: 2rem;
    --headerTitle2Size: 1.15rem;

    /* title section variables */
    --titleSectionHeight: 400px;
    --titleSectionGap: 50px;

    --mainImg1Height: 300px;
    --titleBlockPaddingHori: 0px;
    --titleBlockPaddingVert: 50px;
    --title1Size: 3rem;
    --title2Size: 1.5rem;

    --mainContentPaddingHori: 70px;
    --mainContentPaddingVert: 50px;

    --contentBlockTitle1Size: 2rem;
    --contentBlockTitle2Size: 1.5rem;

    --lyrBlock1PaddingHori: 30px;
    --lyrBlock1PaddingVert: 20px;
    --lyrBlock1FontSize: 1.0rem;

    --p1Size: 1.5rem;
    --p3Size: 1.1rem;
}

@media (max-width: 480px) {
    :root {
        --headerTitle1Size: 1.8rem;
        --headerTitle2Size: 1rem;

        /* title section variables */
        --titleSectionHeight: 300px;
        --titleSectionGap: 30px;

        --mainImg1Height: 150px;
        --titleBlockPaddingHori: 0px;
        --titleBlockPaddingVert: 20px;
        --title1Size: 2.2rem;
        --title2Size: 0.9rem;
        
        --mainContentPaddingHori: 40px;
        --mainContentPaddingVert: 20px;

        --contentBlockTitle1Size: 1.1rem;
        --contentBlockTitle2Size: 0.9rem;

        --lyrBlock1PaddingHori: 25px;
        --lyrBlock1PaddingVert: 15px;
        --lyrBlock1FontSize: 1.0rem;

        --p1Size: 1.2rem;
        --p3Size: 0.9rem;
    }
}

.orbit-regular {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* for header */
.header {
    width: 100%;              /* 가로 */
    height: var(--header-height);            /* 세로 */
    margin: 0 auto;           /* 바깥 여백 */
    padding: 0px 20px;            /* 안쪽 여백 */
    background-color: var(--color2);
    box-sizing: border-box;   /* 패딩과 보더를 포함한 크기 계산 */
    z-index: 100;   /* 다른 요소들보다 위에 표시 */
    line-height: var(--header-height);
    align-items: center;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 480px){
  .header{
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    padding-top: 14px;
    padding-bottom: 10px;
  }
}

#headertitle1 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: var(--headerTitle1Size); /*2.3rem*/

    margin: 00px 0 00px 20px; /* 위, 오른쪽, 아래, 왼쪽 순서 */
    display: inline-block;  /* h1이 블록 요소이므로 인라인 블록으로 변경 */
    color : rgb(250, 250, 250);
    padding: 0;
}

#headertitle2 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: var(--headerTitle2Size); /*1.3rem*/

    margin: 00px 0 00px 20px; /* 위, 오른쪽, 아래, 왼쪽 순서 */
    display: inline-block;  /* h1이 블록 요소이므로 인라인 블록으로 변경 */
    color : rgb(210, 210, 210);
    padding: 0;
}


/* for main content */
.content {
    width: 100%;           /* 가로 */
    height: auto;          /* 세로 */
    margin: 0;          /* 바깥 여백 */
    background-color : rgba(0, 0, 0, 0.02);        /* 배경 색 */
    background-color: rgba(45, 45, 45, 0.846);
}

.contentBackground {
    background-color : rgba(0, 0, 0, 0.2);        /* 배경 색 */
    background-color: rgba(45, 45, 45, 0.846);
    box-sizing: border-box;   /* 패딩과 보더를 포함한 크기 계산 */
    height: auto;         /* 세로 */
}

body{
    margin: 0;
    padding: 0;
}

a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}

/* ================================================================== */
/* ========================== main content ========================== */
/* ================================================================== */

/* ========================== title section ========================== */
.titleSection {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: var(--titleSectionGap);
    height: var(--titleSectionHeight);
    padding: 0px var(--titleSectionGap);
    z-index: 20;
}

.titleSection::before {
    content:"";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        var(--albumCoverImg);
    background-size: cover;        /* 꽉 채우기(잘릴 수 있음) */
    background-position: center;   /* 중앙 기준 */
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: 19;
}

.titleSection * {
    position: relative;
    z-index: 20;
}

#mainImg1 {
    height: var(--mainImg1Height);
    width: auto;
    border-radius: 30px;
}

#mainImg1:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
}

.mainImgBlock {
    padding-top: 0px;
    height: var(--titleSectionHeight);
}

.mainImgBlock * {
    transition: .9s;
    transform: translate(0, 50px);
}


.titleBlock {
    padding: var(--titleBlockPaddingVert) var(--titleBlockPaddingHori);
    margin-left: 0px;
    height: calc(var(--titleSection-height) - 100px);
}

.title1 {
    font-size: var(--title1Size);
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    color: white;
}

.title2 {
    font-size: var(--title2Size);
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    color: white;
}


/* ========================== content section ========================== */

#mainSection {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
    padding: var(--mainContentPaddingVert) var(--mainContentPaddingHori);
    background-color: var(--color1);
    color: black;
    z-index: 20;
}

.contentBlock1 {
    height: auto;
}

.contentBlockEnd {
    height: 300px
}

.contentline1 {
    display: block;
    margin-bottom: 20px;
    border-top: 1px solid black;
}

.contentTitle1 {
    font-size: var(--contentBlockTitle1Size);
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

.contentTitle2 {
    font-size: var(--contentBlockTitle2Size);
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

#EndContentSection {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
    padding: var(--mainContentPaddingVert) var(--mainContentPaddingHori);
    background-color: var(--color2);
    color: white;
    z-index: 20;
}


/* ========================== font section ========================== */

.p1 .p1-bold .p3 {
    font-family: "Orbit", sans-serif;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

.p1 {
    font-size: var(--p1Size);
    font-weight: 400;
}

.p1-bold {
    font-size: var(--p1Size);
    font-weight: bold;
}

.p3 {
    font-size: var(--p3Size);
    font-weight: 400;
}

.ly1-block {
    margin: 20px 0;
    padding: var(--lyrBlock1PaddingVert) var(--lyrBlock1PaddingHori);
    width: 80%;
    background-color: var(--color3);
    border-radius: 15px;
    font-size: var(--lyrBlock1FontSize);
}