
/* 변수를 통해 통제 */
:root {
    --header-height: 11.5vh; /*11.5vh*/
    --titleSection-height: 400px;
    --color1: rgb(255, 245, 247);
    --color2: rgb(97, 13, 38);
    --color3: rgba(255, 0, 81, 0.05);
    --albumCoverImg: url('/blog/images/ThornApple_1stMiniAlbumCover.png');

    --articleBlockColor1: rgba(55, 55, 55, 0.5);
}

.orbit-regular {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* for header */
.header {
    width: 100%;              /* 가로 */
    height: var(--header-height);            /* 세로 */
    margin: 0 auto;           /* 바깥 여백 */
    padding: 0px 20px;            /* 안쪽 여백 */
    background-color: var(--color2);
    box-sizing: border-box;   /* 패딩과 보더를 포함한 크기 계산 */
    z-index: 100;   /* 다른 요소들보다 위에 표시 */
    line-height: var(--header-height);
    align-items: center;
}

#headertitle1 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem; /*2.3rem*/

    margin: 00px 0 00px 20px; /* 위, 오른쪽, 아래, 왼쪽 순서 */
    display: inline-block;  /* h1이 블록 요소이므로 인라인 블록으로 변경 */
    color : rgb(250, 250, 250);
    padding: 0;
}

#headertitle2 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 1.15rem; /*1.3rem*/

    margin: 00px 0 00px 20px; /* 위, 오른쪽, 아래, 왼쪽 순서 */
    display: inline-block;  /* h1이 블록 요소이므로 인라인 블록으로 변경 */
    color : rgb(210, 210, 210);
    padding: 0;
}


/* for main content */
.content {
    width: 100%;           /* 가로 */
    height: auto;          /* 세로 */
    margin: 0;          /* 바깥 여백 */
    background-color : rgba(0, 0, 0, 0.02);        /* 배경 색 */
    background-color: rgba(45, 45, 45, 0.846);
}

.contentBackground {
    background-color : rgba(0, 0, 0, 0.2);        /* 배경 색 */
    background-color: rgba(45, 45, 45, 0.846);
    box-sizing: border-box;   /* 패딩과 보더를 포함한 크기 계산 */
    height: auto;         /* 세로 */
}

body{
    margin: 0;
    padding: 0;
}

a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}

/* ================================================================== */
/* ========================== main content ========================== */
/* ================================================================== */

/* ========================== title section ========================== */
.titleSection {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 50px;
    height: var(--titleSection-height);
    z-index: 20;
}

.titleSection::before {
    content:"";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        var(--albumCoverImg);
    background-size: cover;        /* 꽉 채우기(잘릴 수 있음) */
    background-position: center;   /* 중앙 기준 */
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: 19;
}

.titleSection * {
    position: relative;
    z-index: 20;
}

#mainImg1 {
    height: calc(var(--titleSection-height) - 100px);
    width: auto;
    border-radius: 30px;
}

#mainImg1:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.mainImgBlock {
    padding-top: 0px;
    margin-left: 50px;
    height: var(--titleSection-height);
}

.mainImgBlock * {
    transition: .9s;
    transform: translate(0, 50px);
}


.titleBlock {
    padding: 50px 0px;
    margin-left: 0px;
    height: calc(var(--titleSection-height) - 100px);
}

.title1 {
    font-size: 3rem;
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    color: white;
}

.title2 {
    font-size: 1.5rem;
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    color: white;
}


/* ========================== content section ========================== */

#mainSection {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
    padding: 50px 70px;
    background-color: var(--color1);
    color: black;
    z-index: 20;
}

.contentBlock1 {
    height: auto;
}

.contentBlockEnd {
    height: 300px
}

.contentline1 {
    display: block;
    margin-bottom: 20px;
    border-top: 1px solid black;
}

.contentTitle1 {
    font-size: 2rem;
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

.contentTitle2 {
    font-size: 1.5rem;
    font-family: "Orbit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

#EndContentSection {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
    padding: 50px 70px;
    background-color: var(--color2);
    color: white;
    z-index: 20;
}

/* ========================== article block section ========================== */

.a-articleBlock1 {
    text-decoration: none;
    display: block;
}

.articleBlock1 {
    background-color: var(--articleBlockColor1);
    margin: 7.5px 10px 7.5px 10px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.articleBlock1:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.517);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.articleBlockImg1 {
    height: 80px;
    width: auto;
    border-radius: 10px;
    margin: auto 10px;
}

.articleBlockTitleCol1 {
    display: flex;
    flex-direction: column;
}

.articleBlockTitle1 {
    font-family: "Orbit", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin: 15px 0px 0px 0px;
}

.articleBlockTitle2 {
    font-family: "Orbit", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.921);
    margin: 5px 0px 0px 0px;
}

.articleBlockContent1 {
    font-family: "Orbit", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(200, 200, 200, 0.921);
    width: auto;
}

.articleBlockDate {
    font-family: "Orbit", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(200, 200, 200, 0.921);
    margin-left: auto;
    margin-right: 1%;
    align-content: center;
}

.articleBlockNumbering {
    font-family: "Orbit", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(200, 200, 200, 0.921);
    margin-left: 1%;
    margin-right: 4%;
    align-content: center;
}

/* ========================== font section ========================== */

.p1 {
    font-size: 1.2rem;
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding : 0;
    width: 80%;
}

.p1-bold {
    font-size: 1.2rem;
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding : 0;
    width: 80%;
}

.ly1-block {
    margin: 20px 0;
    padding: 20px 30px;
    width: 80%;
    background-color: var(--color3);
    border-radius: 15px;
}